@using WebBook.Common
@using WebBook.Models

@model IEnumerable<WebBook.ViewModels.OrderDetailVM>

@{
    var order = (Order)ViewBag.order;
}


@{
    ViewData["Title"] = "CHI TIẾT ĐƠN HÀNG";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">TRANG CHỦ</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    @*  <div class="row">
                    <div class="col-12">
                    <h4>
                    @order.Code
                    <small class="float-right">Ngày tạo: @order.CreatedDate</small>
                    </h4>
                    </div>
                    <!-- /.col -->
                    </div>*@
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-6 invoice-col">
                            <address>
                                <strong>Khách hàng</strong><br>
                                Họ tên: @order.CustomerName<br>
                                Email: @order.Email<br>
                                Phone: @order.Phone<br>
                                Địa chỉ: @order.Address
                            </address>
                        </div>
                        <div class="col-sm-6 invoice-col">
                            <address>
                                <strong>Đơn hàng</strong><br>
                                Mã đơn hàng: @order.Code<br>
                                Ngày tạo: @order.CreatedDate.ToShortDateString()<br>
                                Ngày cập nhật: @order.ModifiedDate.ToShortDateString()<br>
                            </address>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        var stt = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@stt</td>
                                                <td>@item.ProductName</td>
                                                <td>@ExtensionHelper.ToVnd(item.Price)</td>
                                                <td>@item.Quantity</td>
                                                <td>@ExtensionHelper.ToVnd(item.TotalPrice)</td>
                                            </tr>
                                            stt++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-sm-6">
                            @*<p class="lead">Phương thức thanh toán:</p>*@
                            @if (order.PaymentMethod)
                            {
                                <p><span style="font-weight: bold">Phương thức thanh toán:</span> VNPAY</p>
                            }
                            else
                            {
                                <p><span style="font-weight: bold">Phương thức thanh toán:</span> Trả tiền mặt khi nhận hàng</p>
                            }

                            <p><span style="font-weight: bold">Trạng thái:</span> <span id="trangthai">@ExtensionHelper.Status(order.Status)</span></p>
                            @if (order.IsPay)
                            {
                                <p style="font-weight: bold; color: green">Đơn hàng đã được thanh toán</p>
                            }
                            else
                            {
                                <p style="font-weight: bold; color: darkred">Đơn hàng chưa được thanh toán</p>
                            }
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            @*<p class="lead">Amount Due 2/22/2014</p>*@

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th style="width:50%">Tổng thành tiền:</th>
                                            <td>@ExtensionHelper.ToVnd(@order.TotalAmount)</td>
                                        </tr>
                                        <tr>
                                            <th>Phí vận chuyển:</th>
                                            <td>30,000 đ</td>
                                        </tr>
                                        <tr>
                                            <th>Số tiền phải trả:</th>
                                            <td>@ExtensionHelper.ToVnd(@order.TotalAmount + 30000)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-6">
                            @if (order.Status != 4)
                            {
                                <button type="button" class="btn btn-success btnStatus" value="1" data-id="@order.Id">Xác nhận</button>
                                <button type="button" class="btn btn-success btnStatus" value="2" data-id="@order.Id">Sẵn sàng giao hàng</button>
                                <button type="button" class="btn btn-success btnStatus" value="3" data-id="@order.Id">Đang giao hàng</button>
                                <button type="button" class="btn btn-success btnStatus" value="4" data-id="@order.Id">Hoàn tất</button>
                                <button type="button" class="btn btn-danger  btnStatus" value="5" data-id="@order.Id">Hủy</button>
                            }
                        </div>
                        <div class="col-6">
                            <a asp-area="Admin" asp-controller="Order" asp-action="Print" asp-route-id="@order.Id" rel="noopener" target="_blank" class="btn btn-primary float-right"><i class="fas fa-print"></i> Print</a>
                            @*<button type="button" class="btn btn-success float-right">
                            <i class="far fa-credit-card"></i> Submit
                            Payment
                            </button>
                            <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                            <i class="fas fa-download"></i> Generate PDF
                            </button>*@
                        </div>
                    </div>
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div>
    </div>

</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.btnStatus').on('click', function (e) {
                e.preventDefault();
                var id = parseInt($(this).data('id'))
                var status = parseInt($(this).val());
                $.ajax({
                    url: '/admin/order/changestatus',
                    type: 'POST',
                    data: { id: id, status: status },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trangthai').html(rs.status);
                        }
                    }
                });
            })
        });
    </script>
}
