@model IEnumerable<WebBook.ViewModels.UserVM>

@{
    ViewData["Title"] = "SỰ KIỆN";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">TRANG CHỦ</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>FLASH SALE</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <form style="display: flex" method="post" asp-area="Admin" asp-controller="Event" asp-action="FlashSale">
                            <div class="form-group">
                                <label>Ngày</label>
                                <select name="ngay" class="form-control">
                                    <option selected value="@ViewBag.ngay">@ViewBag.ngay</option>
                                    @for (int i = 0; i <= 31; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Giờ</label>
                                <select name="gio" class="form-control">
                                    <option selected value="@ViewBag.gio">@ViewBag.gio</option>
                                    @for (int i = 0; i <= 24; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Phút</label>
                                <select name="phut" class="form-control">
                                    <option selected value="@ViewBag.phut">@ViewBag.phut</option>
                                    @for (int i = 0; i <= 60; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group" style="margin-top: 34px; margin-left: 20px;">
                                <button type="submit" class="btn btn-sm btn-success">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <!--/.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</section>

@section scripts{
    <script>
        $(document).ready(function () {

            $('body').on('click', '#btnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                var i = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i == 0) {
                            str += _id;
                        }
                        else {
                            str += "," + _id;
                        }
                        i++;
                    }
                    else {
                        checkbox.attr('selected', '');

                    }
                });
                if (str.length > 0) {
                    var conf = confirm("Bạn có chắc chắn muốn xóa tất cả?");
                    if (conf == true) {
                        $.ajax({
                            url: '/admin/supplier/deleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });


            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    }
                    else {
                        checkbox.attr('selected', '');
                    }
                });
            });



            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');
                var conf = confirm('Bạn có chắc chắn muốn xóa?');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/supplier/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
        });
    </script>
}