@using X.PagedList
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common
@model IPagedList<WebBook.ViewModels.ProductVM>
@using WebBook.Common
@{
    ViewData["Title"] = "Product";
}
<link rel="stylesheet" type="text/css" href="~/client/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/categories_responsive.css">

<div class="container product_section_container" style="margin-top: 130px">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li class="active"><a asp-controller="Product" asp-action="ProductCategory" asp-route-slug="@ViewBag.categorySlug"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.categoryName</a></li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                @await Component.InvokeAsync("Category", new{categoryId = ViewBag.categoryId})


                <!-- Price Range Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Lọc theo giá</h5>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>Lọc</span></div>
                </div>              
            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">Sắp xếp mặc định</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Sắp xếp mặc định</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên sản phẩm</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Hiển thị</span>
                                        <span class="num_sorting_text">8</span>
                                        <i class="fa fa-angle-down"></i>

                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>4</span></li>
                                            <li class="num_sorting_btn"><span>8</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>
                                </ul>                              
                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid">

                                <!-- Product 1 -->
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="product-item @item.CategorySlug">
                                            <div class="product discount product_filter">
                                                <div class="product_image">
                                                    <img src="~/uploads/images/product/@item.Avatar" alt="@item.Name">
                                                </div>
                                                <div class="favorite favorite_left"></div>
                                                @if (item.Discount > 0)
                                                {
                                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@item.Discount%</span></div>
                                                    <div class="product_info">
                                                        <h6 class="product_name"><a asp-controller="Product" asp-action="Detail" asp-route-slug="@item.Slug" asp-route-id="@item.Id">@item.Name</a></h6>
                                                        <div class="product_price">@ExtensionHelper.ToVnd(item.Price - (item.Price*(decimal)0.01*item.Discount))<span>@ExtensionHelper.ToVnd(item.Price)</span></div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="product_info">
                                                        <h6 class="product_name"><a asp-controller="Product" asp-action="Detail" asp-route-slug="@item.Slug" asp-route-id="@item.Id">@item.Name</a></h6>
                                                        <div class="product_price">@ExtensionHelper.ToVnd(item.Price)</div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">Thêm vào giỏ hàng</a></div>
                                        </div>
                                    }
                                }


                            </div>

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                @Html.PagedListPager(Model, page=> Url.Action("Index",new{page}),
                                new PagedListRenderOptions{
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                                })
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/client/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/client/js/categories_custom.js"></script>
}