@model WebBook.Models.Order
@using WebBook.Data
@using WebBook.Common
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@{
    var loggedInUser = new ApplicationUser();
    loggedInUser = _userManager.Users?.FirstOrDefault(x => x.UserName == User.Identity!.Name);
}

@{
    ViewData["Title"] = "Chi tiết đơn hàng";
}

<link rel="stylesheet" type="text/css" href="~/client/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/single_responsive.css">




<div class="container single_product_container" style="margin-top: 130px">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a asp-controller="Account" asp-action="YourOrder" asp-route-userName="@loggedInUser?.UserName"><i class="fa fa-angle-right" aria-hidden="true"></i>Đơn hàng</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>#@Model?.Code</a></li>
                </ul>
            </div>

            <div class="main_content">
                @if (Model != null)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <p>Đơn hàng <b>#@Model.Code</b></p>
                            @*<p>Số lượng: <b>@Model.Quantity</b></p>*@
                            @*<p>Tổng tiền: <b>@ExtensionHelper.ToVnd(@Model.TotalAmount + 30000)</b></p>*@
                            @if (Model.PaymentMethod)
                            {
                                <p>Phương thức thanh toán: VNPAY</p>
                            }
                            else
                            {
                                <p>Phương thức thanh toán: Thanh toán tiền mặt khi nhận hàng</p>
                            }

                        </div>
                        <div class="col-md-6">
                            <p>Tình trạng: <span style="color: blue">@ExtensionHelper.Status(@Model.Status)</span></p>
                            @*@if (Model.PaymentMethod)
                            {
                                <p>Phương thức thanh toán: VNPAY</p>
                                @if (Model.IsPay)
                                {
                                    <p style="color: blue">Đã thanh toán</p>
                                }
                            }
                            else
                            {
                                <p>Phương thức thanh toán: Thanh toán tiền mặt khi nhận hàng</p>
                            }*@
                            @if (Model.IsPay)
                            {
                                <p style="color: blue">Đã thanh toán</p>
                            }
                            else
                            {
                                <p style="color: #ffc107">Chưa thanh toán</p>
                            }

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <table class="table" id="table-cart">
                                @await Component.InvokeAsync("CartCheckout", new{carts = (List<CartItem>)ViewBag.carts})
                            </table>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-6" style="text-align: right">
                            <p>Thành tiền:</p>
                            <p>Phí vận chuyển:</p>
                            <p style="font-weight: bold">Tổng số tiền:</p>
                        </div>
                        <div class="col-md-2" style="text-align: right">

                            <p>@ExtensionHelper.ToVnd(Model.TotalAmount)</p>
                            <p>30,000 đ</p>
                            <p style="font-weight: bold">@ExtensionHelper.ToVnd(Model.TotalAmount + 30000)</p>

                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>

<!-- Tabs -->
@section scripts{
    <script src="~/client/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/client/js/single_custom.js"></script>
}