@model IEnumerable<WebBook.Data.CartItem>
@using WebBook.Data
@using WebBook.Common
@{
    ViewData["Title"] = "Giỏ hàng";
}

<link rel="stylesheet" type="text/css" href="~/client/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/single_responsive.css">




<div class="container single_product_container" style="margin-top: 130px">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a asp-controller="Cart" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Cart</a></li>
                </ul>
            </div>

            <div class="main_content">
                @if (Model != null && Model.Any())
                {
                    <table class="table" id="table-cart">
                        <tr class="text-center">
                            <th><input type="checkbox" id="checkboxAll"/></th>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center" id="trCartItem-@item.ProductId">
                                <td><input type="checkbox" id="checkboxItem" data-id="@item.ProductId" /></td>
                                <td><img width="100" src="~/uploads/images/product/@item.ProductImage" /></td>
                                <td><a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId">@item.ProductName</a></td>
                               @* @if (item.PriceSale > 0)
                                {
                                    <td>@ExtensionHelper.ToVnd(item.PriceSale)</td>
                                }
                                else
                                {
                                    <td>@ExtensionHelper.ToVnd(item.Price)</td>
                                }*@
                                <td>@ExtensionHelper.ToVnd(item.Price - (item.Price * (decimal)0.01 * item.Discount))</td>
                                <td>
                                    <div class="quantity_selector" style="margin: 0; margin-left: calc(50% - 66px)">
                                        <span class="minus updateQuantity" data-id="@item.ProductId"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        <span id="quantity_value" class="quantity_value-@item.ProductId" data-id="@item.MaxQuantity">
                                            @item.Quantity
                                        </span>
                                        <span class="plus updateQuantity" data-id="@item.ProductId"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                </td>
                                <td style="color: #fe4c50" id="totalPrice-@item.ProductId">@ExtensionHelper.ToVnd(item.TotalPrice)</td>
                                <td><a href="#" class="btn btn-sm btn-danger" id="btnDeleteCartItem" data-id="@item.ProductId">Xóa</a></td>
                            </tr>
                        }
                    </table>
                    <div class="float-right">
                        <p style="font-weight: bold; ">Thành tiền: <span id="totalPrice" style="color:#fe4c50; font-size: 23px">0 đ</span></p>
                        <form asp-controller="Cart" asp-action="CheckOut" id="formpay">
                            <input type="hidden" id="list_IdCart" name="ids">
                            <input style="cursor: pointer" type="submit" class="btn btn-danger" id="btnThanhToan" value="THANH TOÁN">
                        </form>
                    </div>

                }
                else
                {
                    <div class="text-center">
                        <p>Chưa có sản phẩm trong giỏ hàng của bạn</p>
                        <a asp-controller="Product" asp-action="Index" class="btn btn-danger">Mua sắm ngay</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Tabs -->
@section scripts{
    <script src="~/client/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/client/js/single_custom.js"></script>
}