@using WebBook.Data;
@using WebBook.Common
@using Microsoft.AspNetCore.Http.Extensions;
@model IEnumerable<WebBook.Models.Menu>


@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@{
    var loggedInUser = new ApplicationUser();
    loggedInUser = _userManager.Users?.FirstOrDefault(x => x.UserName == User.Identity!.Name);
}

<div class="main_nav_container" style="height: 70px">
    <div class="container">
        <div class="row" style="height: 70px">
            <div class="col-lg-12 text-right" style="height: 70px">
                <div class="logo_container">
                    <a href="/"><span>VN</span>BOOK</a>
                </div>
                <nav class="navbar" style="height: 70px">
                    <ul class="navbar_menu">
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <li data-id="@item.Slug"><a href="/@item.Slug">@item.Name</a></li>
                            }
                        }
                    </ul>
                    <ul class="navbar_user" style="margin-left: 110px">
                        <li>
                            <a style="cursor: pointer" id="search-btn"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <form class="search-form" asp-controller="Product" asp-action="Index">
                                <input type="search" id="search-box" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Tìm kiếm sản phẩm mong muốn...." />
                                <button class="fa fa-search" type="submit"></button>
                            </form>
                          
                        </li>

                        @if (loggedInUser != null)
                        {
                            <li class="account_user">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                                <ul class="account_select">
                                    <li><a asp-controller="Account" asp-action="Infor" asp-route-userId="@loggedInUser.Id" class="btn btn-sm btn-danger">Thông tin</a></li>
                                    <li><a asp-controller="Account" asp-action="Logout" class="btn btn-sm btn-danger">Đăng xuất</a></li>
                                    <li><a asp-controller="Account" asp-action="YourOrder" asp-route-userName="@loggedInUser.UserName" class="btn btn-sm btn-danger">Đơn hàng</a></li>

                                </ul>
                            </li>
                            <li><p style="padding-right: 10px" class="account_user">@loggedInUser.UserName</p></li>
                            
                        }
                        else
                        {
                            <li class="account_user">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                                <ul class="account_select">
                                    <li><a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.GetDisplayUrl()" class="btn btn-sm btn-danger"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                                    <li><a asp-controller="Account" asp-action="Register" class="btn btn-sm btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
                                </ul>
                            </li>
                        }

                        <li class="checkout">
                            <a asp-controller="Cart" asp-action="Index">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span id="checkout_items" class="checkout_items">
                                    @{
                                        var data = Context.Session.Get<List<CartItem>>("GioHang");
                                        if (data == null)
                                        {
                                            data = new List<CartItem>();
                                        }
                                        @data.Count
                                    }
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="hamburger_container">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="fs_menu_overlay"></div>
<div class="hamburger_menu">
    <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="hamburger_menu_content text-right">
        <ul class="menu_top_nav">
            @if (loggedInUser != null)
            {
                <li class="menu_item has-children">
                    <a href="#">
                        @loggedInUser.UserName
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng xuất</a></li>
                        <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
                    </ul>
                </li>
            }
            else
            {
                <li class="menu_item has-children">
                    <a href="#">
                        Tài khoản của tôi
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                        <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
                    </ul>
                </li>
            }
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <li class="menu_item"><a href="/@item.Slug">@item.Name</a></li>
                }
            }
        </ul>
    </div>
</div>